<script id="supp-course-template" type="text/x-handlebars-template">
  	<tr>
    	<td class="supp-choose"><input type="radio" name="" value="" id=""/></td>
    	<td class="supp-info">
    		<h5><strong>{{format}} {{section}}</strong></h5>
      		<strong>Instructor: </strong>{{instructor}}<br>
      		<strong>Time and Location: </strong> {{date}} {{time}} {{loc}} <br>
      		<strong>Enrollment: </strong>{{enrollment}} &nbsp; &nbsp; &nbsp;<strong>Waitlist: </strong>{{waitlist}}<br>
      		<strong>CCN: </strong>{{ccn}}<br>
    	</td>
  	</tr>
</script>
