body{
    background-color: #E6E6E6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.wrapper
{
    max-width: 960px;
    margin: 0 auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    position: relative;
    background-color: #ffffff;
}

.center {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

h2 {
    color: #023876;
}

h3 {
    color: #023876 !important;
}

h4 {
     color: #023876 !important;
     margin-bottom: 7px;
}

h5 {
    color: #023876 !important;
}

p {
    margin: 0 0 5px 0;
}

.sub-header {
    display: block;
    /*padding:0 0 0 10px;*/
    width: 95%;
    margin:0 auto 10px;
}

.alert {
    text-align: center;
    padding:3px 7px;
    /*margin-top: 5px;*/
    margin-bottom: 10px;
    display: inline-block;
}

.divider-line {
    width: 99%;
    border-bottom: 1px solid #EBE8DC;
    margin: 5px auto;
    background-color: #ffffff;
}

.flex-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-box {
    overflow: hidden;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/** callout component */
.callout {
    background: rgb(243, 248, 245);
    border-radius: 3px;
    border-left: 5px solid #eee;
    font-weight: normal;
    font-size: 97.5%;
    padding:5px;
    text-align: left;
    display: inline-block;
}

/* Header Styles */
.main-header
{
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    position: relative;
    max-height: 100px;
    z-index: 1;
}

#logo
{
	margin-left:10px;
}

@media only screen and (max-width: 390px) {
    #logo img{
        width:100%;
        height:auto;
    }
}

@media only screen and (max-width: 550px) {
    h3 {
        font-size: 16px;
    }
}


.content-wrapper
{
    padding: 25px;
    min-height: 350px;
}

/*Form Styles */
.srcf-form {
    /*height:73px;*/
}

.srcf-input {
    border: 2px solid #DEDCD5;
    border-radius: 0;
    padding:0;
    vertical-align: center;
    color: #555;
    font-size: 12px;
}

.form-danger {
    background-color: #f2dede;
    border-color: #DA7679;
}

/*Footer Styles*/
.main-footer
{
    border: 0;
    clear: both;
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px auto 0;
    padding: 10px;
}

#footer-inner {
    color: #eee;
    background-color: #003a70;
    border-radius: 4px;
    margin: 0;
    padding: 0 10px;
}

#sub-footer {
    font-size: 10px;
    line-height: 18px;
    margin: 0 auto;
    padding: 15px 0 0 15px;
    position: relative;
}

#footer a {
    color: #64727F;
    text-decoration: none;
    font-size: 75%;
}

.bottom-navbar {
    margin-left: 0px;
    line-height: 34px;
}

/* UCB Info Specific Styles */

#general-form-error {
    margin-bottom: 10px;
    display: none;
    padding: 6px 14px;
}

#ucb-info-form
{
    z-index: 11;
    margin-top: 15px;
}

#ucb-info-form input[type=text] {
    padding-left: 10px;
}

#ucb-info-form .alert {
    margin-top: 7px;
}

#initial_error {
    padding: 6px 14px;
    display:none;
    width:100%
}

#secondary_error {
    display:none;
    width:100%;
    padding: 6px 14px;
}

/* Confirm Units Specific Styles */
#unit-confirmation-table {
    font-size: 12px;
    text-align: left;
    margin: 20px auto 10px;
    display: inline-block;
}

#unit-confirmation-table th{
    text-align: center;
}

#unit-confirmation-table tr {
    margin-top: 10px;
}

#unit-confirmation-table tr:last-child {
    border-top: 2px solid #EBE8DC;
    text-align: center;
}



#unit-confirmation-table td {
    padding: 4px;
    text-align: center;
    width:100px;
}

#unit-confirmation-table input {
    border-radius: 0;
    font-weight: normal;
    margin: 3px 0px 3px 0px;
    text-align: center;
    width: 50px;
}

.red-tooltip
{
    color: #c7254e;
    background-color: #f9f2f4;
    border-color: #faebcc !important;
    max-width:520px !important;
    font-size: 13px; !important;
}

.tooltip-inner
{
    color: #c7254e;
    background-color: #f9f2f4;
    border-color: #faebcc !important;
    max-width:520px !important;
    font-size: 13px; !important;
}


#reset_form_actions
{
    padding:10px;
    margin-top: 15px;
    display: none;
}


.panel-heading
{
    height: 25px;
    padding: 5px 0px 5px 10px;
}


.form-action-content {
    background-color: white;
    border: 1px solid #EDEDED;
    border-radius: 3px;
    margin:0;
    padding: 0;
    position: relative;
    overflow: hidden;
    top:-10px;
    z-index: 0;
    height: 0;
    transition: height 0.3s ease-in-out;
}

#accordian-menu .btn-group {
    display: inherit;
}

.form-action-content p{
    padding:10px 10px 0;
    margin: 0;
}

#accordian-menu input:checked ~ .form-action-content{
    transition:
        height 0.5s ease-in-out;
}

#accordian-menu input:checked ~ .option-1 {
    height: 230px;
}

#accordian-menu input:checked ~ .option-2 {
    height: 90px;
}

#accordian-menu input:checked ~ .option-3 {
    height: 400px;
}

#accordian-menu input:checked ~  {
    height: 360px;
}

#button-table {
    font-size: inherit;
    font-weight: inherit;
    box-shadow: none;
    border-collapse: separate;
    border-spacing: 10px;
    margin: 0 auto;
    table-layout: fixed;
    width: 75%;
    top:-10px;
}

#button-table td {
    text-align: center;
    margin:5px;
}

#button-table td button {
    text-align: center;
    width: 100%;
    height:100%;
    display: block;
    margin:0 auto;
}

/* Confirm Enrollment Changes Specific Styles */
#ec-system-info {
    padding: 0 5px 0 0;
}

#ec-provided-info {
    padding: 0 0 0 5px;
}

.ec-course-action {
    width: 300px;
    color: black;
}

.confirm-ec-table {
    /*width: 60%;*/
    /*margin: 0 auto;*/
    outline: #D8D8D8 solid 2px;
    width: 100%;
    background-color: #F8F8F8;
}

.confirm-ec-table tr {
    height: 25px;
}

.confirm-ec-table tr:hover {
    background-color: #E9E9E9;
}

.confirm-ec-table tr td {
    padding:0 10px;
    width:50%;
}

.confirm-ec-table ul {
    padding:10px 15px;
    margin-bottom:0;
}

#provided-information table {
    margin-top:22px;
}

.form-edits {
    padding:8px 12px
}

@media only screen and (max-width : 992px) {
    #ec-system-info {
        padding: 0;
    }

    #ec-provided-info {
        padding:0;
        margin-top: 10px;
    }

    #provided-information {
        margin-top: 20px;
    }
    #provided-information table {
        margin-top: 0;
    }
}

@media only screen and (max-width:650px) {
    .ec-course-action {
        width:90%;
        margin:10px auto;
    }

}

/*Form Action Page Styles */
.form-action-page .accordian-header {
    font-size: 14px;
    line-height: 15px;
    display: inline-block;
    vertical-align: middle;
}

.form-action-page .row .btn {
    margin:5px 0;
}

.smaller-text {
    font-size: 11px;
    padding:6px 10px;
}

@media only screen and (max-width: 768px) {
    .form-action-page .row .btn {
        margin:10px 0px;
        font-size: 12px;
    }
}

@media only screen and (max-width:450px) {
    .form-action-page .accordian-header, .panel-title {
        font-size: 11px;
        vertical-align: center;
    }

    .form-action-page .panel-heading{
        padding:3px 0px 5px !important;
    }

    .form-action-page .panel-heading i{
        margin-left: 3px;
    }

    .red-tooltip {
        color: #c7254e;
        background-color: #f9f2f4;
        border-color: #faebcc !important;
        max-width:520px !important;
        font-size: 11px; !important;
    }
}


/* Timeline Specific Styles */
.timeline-item img {
    width:100px;
    height:auto;
    margin-bottom:5px;
    vertical-align: middle;
}

.timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    margin-top: 0px;
    background: #fff;
    color: #444;
    padding: 0;
    position: relative;
}


.timeline-item>.time {
    color: #999;
    float: right;
    padding: 10px;
    font-size: 12px;
}

.timeline-item>.timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    font-size: 14px;
    line-height: 1.1;
}

.timeline-item>.timeline-body, .timeline-item>.timeline-footer {
    padding: 10px;
    margin: 0;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    font-size: 14px;
    line-height: 1.1;
}

.timeline-item>.timeline-body a{
    margin:2px 10px 10px 2px;
}


#college_pdfs
{
    display:none;
}

#college_pdfs a:hover
{
    text-decoration: none;
}

#college_pdfs a:visited
{
    text-decoration: none;

}

.pdf-body
{
    position: relative;
}

#srcf_start
{
    margin-top: 25px;
    padding-right: 35px;
    padding-left: 25px;
    padding-top:0px;
}

#srcf_start li
{
    margin: 10px 0px 0px 0px;
    line-height: 18px;
}

.button {
    width: 150px;
    padding: 10px;
    background-color: #FF8C00;
    box-shadow: -8px 8px 10px 3px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-decoration: none;
}

@media (min-width: 600px) {
    .modal-dialog {
        width: 450px;
        margin: 30px auto;
    }
}


.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-primary {
    border-top-color: #3c8dbc;
    padding-bottom:45px;
    margin-top:25px;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header > .fa {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
    margin-right:5px;
}

.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pull-left {
    float: left !important;
}

blockquote {
    border-color: #ddd;
    border-color: rgba(0, 0, 0, .15);
}


.box.box-solid {
    border-top: 0px;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion {
    margin-right: 5px;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-body label
{
    margin-bottom: 0px;
}

.box-body blockquote
{
    font-size: 12px;
}


small li{
    margin-bottom: 0px !important;
}

small ol{
    padding-left: 15px;
}

.divider-line-requests .col-md-4 {

    padding: 0;
    width:30%;
}

.alert-dismissable blockquote
{
    color:black;
}

.alert-dismissable
{
    padding-right: 10px;
}

/* Help Page Styles */
.help-page {

}

.help-page li {
    /*list-style-type: none;*/
}

.help-page table{
    margin-top:10px;
    margin-bottom:25px;
    outline: #D8D8D8 solid 2px;
}

.help-page tr:hover {
    background-color: #f9f9f9;
}
.help-page table th {
    background-color: #E6E6E6;
}

.help-page table td, th{
    vertical-align: top;0
    height:25px;
    padding:5px 15px;
}

.help-page td.option-td {
    width:30%;
}

/* Policy Page Styles */
.policy-page .btn {
    margin:15px auto;
}

.no-padding {
    padding:0;
}
/* NavHistory Styles */


.navhistory {
}

.inner-nav {
    position: relative;
    vertical-align: center;
}

.navhistory img {
    width:100%;
    height: auto;
    z-index: 0;
}
.inner-nav ul {
    /*position: absolute;*/
    padding:0;
    margin-top: -4.25%;
    margin-bottom: 4.25%;
}
/* need media query here */

.inner-nav ul li{
    display: inline;
    list-style-type: none;
    color: #ADADAD;
}

.inner-nav ul li.current{
    font-weight: bold;
    color: #337ab7;
}

.inner-nav li a {
    color:#949494;
}

.inner-nav li a:hover {
    color:#337ab7;
}


@media only screen and (max-width : 925px) {
    .inner-nav ul {
        margin-top: -4.45%;
        margin-bottom: 4.45%;
    }
}

.nav-buttons {
    margin-top: 15px;
}

